<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title and responsiveness -->
    <title>Rosales Landscaping - Klamath Falls Landscaping and Maintenance Service</title>
    <meta name="description" content="Local, Klamath Falls, OR based, company. Providing friendly and professional landscaping and maintenance services to the greater Klamath area." />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

    <!-- Load Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Benne&family=Life+Savers&family=Montserrat:wght@200&family=Poiret+One&display=swap" rel="stylesheet">

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='services.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}" />-->

    <!-- Link JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>

</head>

<body>

    <!-- NavBar -->
    <nav class="uk-navbar-container" uk-navbar>
        <a href="#offcanvas" class="uk-navbar-toggle uk-hidden@l" uk-toggle uk-navbar-toggle-icon></a>
        <div class="uk-navbar-left uk-visible@l">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/">{{ data.landing.navBarHome }}</a></li>
                <li><a href="#services">{{ data.landing.navBarServices }}</a></li>
                <li><a href="#contact-us">{{ data.landing.navBarContact }}</a></li>
            </ul>
        </div>
        
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav" >
                <li id="landingPhonePhrase"><h3>{{ data.landing.phonePhrase }}</h3></li>
                <li id="navPhoneAlicia"><a href="tel:{{ data.global.phoneAlicia }}"><button class="uk-button uk-button-primary navPhoneButton" id="navPhoneAliciaButton">{{ data.landing.navPhoneAlicia }}</button></a></li>
                <li id="navPhoneFredy"><a href="tel:{{ data.global.phoneFredy }}"><button class="uk-button uk-button-primary navPhoneButton" id="navPhoneFredyButton">{{ data.landing.navPhoneFredy }}</button></a></li>

            </ul>
        </div>
    </nav>

    <!-- This is the off-canvas -->
    <div id="offcanvas" uk-offcanvas>
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="/">{{ data.landing.navBarHome }}</a></li>
                <li><a href="#services">{{ data.landing.navBarServices }}</a></li>
                <li><a href="#contact-us">{{ data.landing.navBarContact }}</a></li>
            </ul>
        </div>
    </div>


    <!-- Landing -->
    <section id="landing-container">
        <div id="landing-header">
            <div class="" id="landing-logo">
                <!-- *To-do* Replace with script font or logo -->
                <h1>Rosales</h1>
                <h3>{{ data.global.companyName }}</h3>
            </div>
            <div id="landing-description">
                <p>
                    {{ data.landing.description }}
                    <br />
                    {{ data.landing.estimate }}
                </p>
            </div>
            <div id="landing-contact">
                <a href="#contact-us"><button class="uk-button uk-button-large" id="landing-contact-button">{{ data.global.contact }}</button></a>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="services" class="uk-dark">
        <div id="services-container">
            <div id="services-title">
                <h1 class="uk-heading-large">{{ data.services.heading }}</h1>
            </div>
            <div id="services-license">
                <h3>License #: BL001238</h3>
            </div>
            <div id="services-accordion">
                <ul uk-accordion>
                    <li id="services-trimming">
                        <a class="uk-accordion-title" href="#">{{ data.services.trimming }}</a>
                        <div class="uk-accordion-content">{{ data.services.trimmingDesc }}</div>
                    </li>
                    <li id="services-cleaning">
                        <a class="uk-accordion-title" href="#">{{ data.services.cleaning }}</a>
                        <div class="uk-accordion-content">{{ data.services.cleaningDesc }}</div>
                    </li>
                    <li id="services-mowing">
                        <a class="uk-accordion-title" href="#">{{ data.services.mowing }}</a>
                        <div class="uk-accordion-content">{{ data.services.mowingDesc }}</div>
                    </li>
                    <li id="services-weed">
                        <a class="uk-accordion-title" href="#">{{ data.services.weed }}</a>
                        <div class="uk-accordion-content">{{ data.services.weedDesc }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact-us">
        <div id="contact-container">
            <div id="contact-title">
                <h1 class="uk-heading-large">{{ data.contact.heading }}</h1>
            </div>
            <div id="contact-box" class="uk-grid">
                <div class="contact-subbox uk-width-1-2" id="contact-address" onclick="mapsSelector()">
                    <h3 class="uk-heading-small">{{ data.contact.address }}</h3>
                    <p> 
                        {{ data.global.street }}
                        <br />
                        {{ data.global.city }}, {{ data.global.state }} {{ data.global.zipcode }}
                    </p>
                </div>
                <div class="contact-subbox uk-width-1-2" id="contact-phone">
                    <h3 class="uk-heading-small">{{ data.contact.phone }}</h3>
                    <p id="contact-phone-fredy">Espa&ntilde;ol: <a href="tel:818-857-0117">{{ data.global.phoneFredy }}</a></p>
                    <p id="contact-phone-alicia">English: <a href="tel:541-810-9952">{{ data.global.phoneAlicia }}</a></p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div >

        </div>
    </footer>

</body>
</html>
