/* NavBar */
nav li a {
  color: #33691E; }
  nav li a:hover {
    color: #11580d; }
  nav li a:active {
    color: #11580d; }

#landingPhonePhrase {
  padding-top: 1.3em; }

.navPhoneButton {
  background-color: #447a2f;
  font-size: 1.3em;
  letter-spacing: 2px; }
  .navPhoneButton:hover {
    background-color: #11580d; }

/*---------*/
/* Landing */
#landing-container {
  background: url(images/landing.webp);
  background-size: cover;
  width: 100%;
  min-height: 92.9vh; }

#landing-header {
  width: 70%;
  text-align: center;
  color: #fcfcff !important;
  text-shadow: 5px 1px 10px #555;
  padding-top: 5em;
  padding-left: 15%; }

/* Landing Logo */
#landing-logo h1 {
  font-size: 9em !important;
  font-family: "Life Savers", cursive;
  letter-spacing: 6px;
  color: #fcfcff !important; }

#landing-logo h3 {
  font-size: 5em !important;
  font-family: "Poiret One", serif;
  color: #fcfcff !important;
  margin-top: -0.5em; }

/* Landing Description */
#landing-description {
  font-size: 2.5em;
  padding-top: 1em;
  font-family: "Benne", serif;
  width: 80%;
  padding-left: 10%;
  text-align: center; }

/* Landing Contact */
#landing-contact {
  padding: 2em 0; }
  #landing-contact-button {
    background-color: #8A352C;
    color: #fcfcff;
    font-size: 1.5em;
    font-family: "Poiret One", serif;
    font-weight: bold; }
    #landing-contact-button:hover {
      background-color: #68130a; }

/*-------------------*/
/*** Media Queries ***/
/* Laptops to Larger Tablets */
@media only screen and (min-width: 1001px) and (max-width: 1900px) {
  #landing-header {
    width: 85%;
    padding-left: 7.5%;
    padding-top: 3em; }
  #landing-logo h3 {
    font-size: 3.2em !important;
    font-weight: bold; }
  #landing-description {
    width: 90%;
    padding-left: 5%; } }

/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .navPhoneButton {
    font-size: 1em; }
  #landing-header {
    width: 85%;
    padding-left: 7.5%; }
  #landing-logo h1 {
    font-size: 8em !important; }
  #landing-logo h3 {
    font-size: 2.8em !important;
    font-weight: bold; }
  #landing-description {
    font-size: 2em;
    width: 90%;
    padding-left: 5%; } }

/* Mobile Large */
@media only screen and (max-width: 767px) {
  #landingPhonePhrase {
    display: none; }
  .navPhoneButton {
    font-size: 0.8em; }
  #landing-header {
    width: 90%;
    padding-left: 5%;
    padding-top: 3em; }
  #landing-logo h1 {
    font-size: 6em !important; }
  #landing-logo h3 {
    font-size: 1.7em !important;
    font-weight: bold; }
  #landing-description {
    font-size: 1.5em;
    width: 95%;
    padding-left: 2.5%; } }

/* Mobile Medium */
@media only screen and (max-width: 410px) {
  .navPhoneButton {
    font-size: 0.9em;
    padding: 0.4em 1em 0.4em 1em; }
  #landing-logo h1 {
    font-size: 6em !important; }
  #landing-logo h3 {
    font-size: 1.5em !important;
    font-weight: bold; }
  #landing-description {
    font-size: 1.3em;
    width: 95%;
    padding-left: 2.5%; } }

/* Mobile Small */
@media only screen and (max-width: 374px) {
  .navPhoneButton {
    font-size: 0.8em;
    padding: 0.25em 0.6em 0.25em 0.6em; }
  #landing-logo h1 {
    font-size: 5em !important; }
  #landing-logo h3 {
    font-size: 1.3em !important;
    font-weight: bold; }
  #landing-description {
    font-size: 1.2em;
    width: 95%;
    padding-left: 2.5%; } }

/* Mobile Tiny */
@media only screen and (max-width: 319px) {
  .uk-navbar-right ul li a {
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .navPhoneButton {
    font-size: 0.75em;
    padding: 0.25em 0.6em 0.25em 0.6em; }
  #landing-logo h1 {
    font-size: 4em !important; }
  #landing-logo h3 {
    font-size: 1.2em !important;
    font-weight: bold; }
  #landing-description {
    font-size: 1.3em;
    width: 95%;
    padding-left: 2.5%; } }

/*-------------------*/
/* Services */
#services {
  width: 100%;
  height: 43em;
  background-color: #efefef; }
  #services-container {
    width: 75%;
    padding-left: 12%; }
  #services-title h1 {
    padding-top: 0.5em;
    color: #447a2f;
    text-align: center; }
  #services-license {
    text-align: center; }
    #services-license h3 {
      color: #8A352C;
      font-weight: 500; }

a.uk-accordion-title {
  height: 2em;
  font-size: 2em;
  padding-left: 0.5em;
  padding-top: 0.5em; }

.uk-accordion-content {
  padding-left: 1em;
  padding-top: -1em;
  font-family: "Benne", serif;
  font-size: 1.5em; }

.uk-open {
  color: #ffffff;
  text-shadow: 0.5px 1px #666;
  height: 10em;
  border-radius: 5px; }

.uk-open a.uk-accordion-title {
  color: #ffffff; }

#services-trimming.uk-open {
  background: url("images/trimming.webp") center;
  background-size: cover; }

#services-cleaning.uk-open {
  background: url("images/cleaning.webp") center;
  background-size: cover; }

#services-mowing.uk-open {
  background: url("images/mowing.webp") center;
  background-size: cover; }

#services-weed.uk-open {
  background: url("images/weedRemoval.webp") center;
  background-size: cover; }

/*-------------------*/
/*** Media Queries ***/
/* Mobile Large */
@media only screen and (max-width: 768px) {
  #services {
    height: 39em; }
  .uk-accordion-content {
    font-size: 1.2em; } }

/* Mobile Small */
@media only screen and (max-width: 424px) {
  #services {
    height: 36em; }
  a.uk-accordion-title {
    font-size: 1.6em; }
  .uk-accordion-content {
    font-size: 1.1em; } }

/* Mobile Tiny */
@media only screen and (max-width: 319px) {
  #services {
    height: 36.5em; }
  a.uk-accordion-title {
    font-size: 1.4em; } }

/*------------------*/
/* Contact */
#contact-us {
  width: 100%;
  height: 35em; }

#contact-container {
  width: 75%;
  padding-left: 12.5%; }

#contact-title h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: #447a2f; }

#contact-box {
  width: 75%;
  padding-left: 12%; }

.contact-subbox {
  text-align: center;
  padding-left: 2em; }

#contact-address {
  font-size: 1.5em; }
  #contact-address p:hover {
    color: #2d2d2d; }

#contact-phone {
  font-size: 1.5em; }
  #contact-phone p a {
    text-decoration: none;
    color: #666666; }
    #contact-phone p a:hover {
      color: #2d2d2d;
      cursor: pointer; }

/*-------------------*/
/*** Media Queries ***/
@media only screen and (max-width: 1024px) {
  .contact-subbox {
    width: 100%;
    padding-bottom: 2em; } }

/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #contact-address {
    font-size: 2em; }
  #contact-phone {
    font-size: 2em; } }

/* Mobile */
@media only screen and (max-width: 767px) {
  #contact-container {
    width: 90%;
    padding-left: 5%; }
  .contact-subbox {
    padding-left: 3.5em; }
  #contact-address {
    font-size: 1em; }
  #contact-phone {
    font-size: 1em; } }

/* Mobile Small */
@media only screen and (max-width: 374px) {
  #contact-address {
    font-size: 1em; }
  #contact-phone {
    font-size: 1em; } }

/* Mobile Tiny */
@media only screen and (max-width: 319px) {
  #contact-container {
    width: 95%;
    padding-left: 2.5%; }
  #contact-address {
    font-size: 0.9em; }
  #contact-phone {
    font-size: 0.9em; } }

/*------------*/
/*@import "mediaQueries.scss";*/
