/* Contact */

#contact-us{
    width: 100%;
    height: 35em;
}

#contact-container{
    width: 75%;
    padding-left: 12.5%;
}

#contact-title{
    h1{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
        color: $main;
    }
}

#contact-box{
    width: 75%;
    padding-left: 12%;
}

.contact-subbox{
    text-align: center;
    padding-left: 2em;
}

#contact-address{
    font-size: 1.5em;
    p{
        &:hover{
            color: $black;
        }
    }
}


#contact-phone{
    font-size: 1.5em;
    p{
        a{
            text-decoration: none;
            color: $darkGrey;
            &:hover{
                color: $black;
                cursor: pointer;
            }
        }
    }
}
/*-------------------*/

/*** Media Queries ***/

@media only screen and (max-width : 1024px){
    .contact-subbox{
        width: 100%;
        padding-bottom: 2em;
    }
}

/* Ipad */
@media only screen
and (min-width : 768px)
and (max-width : 1024px){

    #contact-address{
        font-size: 2em;
    }

    #contact-phone{
        font-size: 2em;
    }
}

/* Mobile */
@media only screen 
and (max-width : 767px){
    #contact-container{
        width: 90%;
        padding-left: 5%;
    }

    .contact-subbox{
        padding-left: 3.5em;
    }
    
    #contact-address{
        font-size: 1em;
    }

    #contact-phone{
        font-size: 1em;
    }
}

/* Mobile Small */
@media only screen 
and (max-width : 374px){

    #contact-address{
        font-size: 1em;
    }

    #contact-phone{
        font-size: 1em;
    }
}

/* Mobile Tiny */
@media only screen 
and (max-width : 319px){
    #contact-container{
        width: 95%;
        padding-left: 2.5%;
    }

    #contact-address{
        font-size: 0.9em;
    }

    #contact-phone{
        font-size: 0.9em;
    }
}

/*------------*/
