/* NavBar */
nav{
    li{
        a{
            color: $darkGreen;
            &:hover{
                color: $darkerGreen;
            }
            &:active{
                color: $darkerGreen;
            }
        }
    }
}
#landingPhonePhrase{
    padding-top: 1.3em;
}

.navPhoneButton{
    background-color: $main;
    font-size: 1.3em;
    letter-spacing: 2px;
    &:hover{
        background-color: $darkerGreen;
    }
}
/*---------*/

/* Landing */
#landing-container{
    background: url(images/landing.webp);
    background-size: cover;
    width: 100%;
    min-height: 92.9vh;
}
#landing-header{
    width: 70%;
    text-align: center;
    color: $white !important;
    text-shadow: 5px 1px 10px #555;
    padding-top: 5em;
    padding-left: 15%;
}
/* Landing Logo */
#landing-logo{
    h1{
        font-size: 9em !important;
        font-family: $lifeSavers;
        letter-spacing: 6px;
        color: $white !important;
    }
    h3{
        font-size: 5em !important;
        font-family: $poiret;
        color: $white !important;
        margin-top: -0.5em;
    }
}
/* Landing Description */
#landing-description{
    font-size: 2.5em;
    padding-top: 1em;
    font-family: $benne;
    width: 80%;
    padding-left: 10%;
    text-align: center;
}
/* Landing Contact */
#landing-contact{
    padding: 2em 0;
    &-button{
        background-color: $red;
        color: $white;
        font-size: 1.5em;
        font-family: $poiret;
        font-weight: bold;
        &:hover{
            background-color: $darkRed;
        }
    }
}
/*-------------------*/

/*** Media Queries ***/

/* Laptops to Larger Tablets */
@media only screen
and (min-width : 1001px)
and (max-width : 1900px){
    #landing-header{
        width: 85%;
        padding-left: 7.5%;
        padding-top: 3em;
    }
     
    #landing-logo{
        h3{
            font-size: 3.2em !important;
            font-weight: bold;
        }
    }

    #landing-description{
        width: 90%;
        padding-left: 5%;
    }
}

/* Ipad */
@media only screen
and (min-width : 768px)
and (max-width : 1000px){
    .navPhoneButton{
        font-size: 1em;
    }

    #landing-header{
        width: 85%;
        padding-left: 7.5%;
    }
    #landing-logo {
        h1{
            font-size: 8em !important;
        }
        h3{
            font-size: 2.8em !important;
            font-weight: bold;
        }
    }

    #landing-description{
        font-size: 2em;
        width: 90%;
        padding-left: 5%;
    }
}

/* Mobile Large */
@media only screen 
and (max-width : 767px){
    #landingPhonePhrase{
        display: none;
    }

    .navPhoneButton{
        font-size: 0.8em;
    }

    #landing-header{
        width: 90%;
        padding-left: 5%;
        padding-top: 3em;
    }

    #landing-logo{
        h1{
            font-size: 6em !important;
        }
        h3{
            font-size: 1.7em !important;
            font-weight: bold;
        }
    }

    #landing-description{
        font-size: 1.5em;
        width: 95%;
        padding-left: 2.5%;
    }
}

/* Mobile Medium */
@media only screen 
and (max-width : 410px){
    .navPhoneButton{
        font-size: 0.9em;
        padding: 0.4em 1em 0.4em 1em;
    }

    #landing-logo{
        h1{
            font-size: 6em !important;
        }
        h3{
            font-size: 1.5em !important;
            font-weight: bold;
        }
    }

    #landing-description{
        font-size: 1.3em;
        width: 95%;
        padding-left: 2.5%;
    }
}

/* Mobile Small */
@media only screen 
and (max-width : 374px){
    .navPhoneButton{
        font-size: 0.8em;
        padding: 0.25em 0.6em 0.25em 0.6em;
    }

    #landing-logo{
        h1{
            font-size: 5em !important;
        }
        h3{
            font-size: 1.3em !important;
            font-weight: bold;
        }
    }

    #landing-description{
        font-size: 1.2em;
        width: 95%;
        padding-left: 2.5%;
    }
}

/* Mobile Tiny */
@media only screen 
and (max-width : 319px){
    .uk-navbar-right ul li a{
        padding: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .navPhoneButton{
        font-size: 0.75em;
        padding: 0.25em 0.6em 0.25em 0.6em;
    }

    #landing-logo{
        h1{
            font-size: 4em !important;
        }
        h3{
            font-size: 1.2em !important;
            font-weight: bold;
        }
    }

    #landing-description{
        font-size: 1.3em;
        width: 95%;
        padding-left: 2.5%;
    }
}

/*-------------------*/
