// Colors
$main: #447a2f;
$darkGreen: #33691E;
$darkerGreen: #11580d;
$red: #8A352C;
$darkRed: #68130a;
$white: #fcfcff;
$pureWhite: #ffffff;
$lightGrey: #efefef;
$darkGrey: #666666;
$black: #2d2d2d;

// Fonts
$lifeSavers: 'Life Savers', cursive;
$poiret: 'Poiret One', serif;
$benne: 'Benne', serif;


@import "landing.scss";
@import "services.scss";
@import "contact.scss";
/*@import "mediaQueries.scss";*/