/* Services */

@mixin accordionTile($image){
    background: url($image) center;
    background-size: cover;
}


#services{
    width: 100%;
    height: 43em;
    background-color: $lightGrey;
    &-container{
        width: 75%;
        padding-left: 12%;
    }
    &-title{
        h1{
            padding-top: 0.5em;
            color: $main;
            text-align: center;
        }
    }
    &-license{
        text-align: center;
        h3{
            color: $red;
            font-weight: 500;
        }
    }
}

a.uk-accordion-title{
    height: 2em;
    font-size: 2em;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.uk-accordion-content{
    padding-left: 1em;
    padding-top: -1em;
    font-family: $benne;
    font-size: 1.5em;
}

.uk-open{
    color: $pureWhite;
    text-shadow: 0.5px 1px #666;
    height: 10em;
    border-radius: 5px;
}

.uk-open a.uk-accordion-title{
    color: $pureWhite;
}

#services-trimming.uk-open{
    @include accordionTile("images/trimming.webp");
}

#services-cleaning.uk-open{
    @include accordionTile("images/cleaning.webp");
}

#services-mowing.uk-open{
    @include accordionTile("images/mowing.webp");
}

#services-weed.uk-open{
    @include accordionTile("images/weedRemoval.webp");
}
/*-------------------*/

/*** Media Queries ***/

/* Mobile Large */
@media only screen 
and (max-width : 768px){
    #services{
        height: 39em;
    }

    .uk-accordion-content{
        font-size: 1.2em;
    }
}

/* Mobile Small */
@media only screen
and (max-width : 424px){
    #services{
        height: 36em;
    }

    a.uk-accordion-title{
        font-size: 1.6em;
    }

    .uk-accordion-content{
        font-size: 1.1em;
    }
}

/* Mobile Tiny */
@media only screen 
and (max-width : 319px){
    #services{
        height: 36.5em;
    }

    a.uk-accordion-title{
        font-size: 1.4em;
    }
}

/*------------------*/
