<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title and responsiveness -->
    <title>Rosales Landscaping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

    <!-- Load Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Benne&family=Life+Savers&family=Montserrat:wght@200&family=Poiret+One&display=swap" rel="stylesheet">

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <!-- Link JS -->
    <script src="{{ url_for('static', filename='base.js') }}"></script>

</head>

<body>

    <!-- Landing Section -->
    <section id="landingContainer">
        <nav class="uk-navbar-container" id="nav">
            <div class="uk-navbar-left" id="landing-phone">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#landingContainer">{{ data.navBarHome }}</a></li>
                    <li><a href="#services">{{ data.navBarServices }}</a></li>
                    <li><a href="#contact-us">{{ data.navBarContact }}</a></li>
                </ul>
                <h4>{{ data.landingPhonePhrase }} <a href="tel:{{ data.phoneAlicia }}"> {{ data.phoneAlicia }}</a> {{ data.landingPhoneOr }} <a href="tel:{{ data.phoneFredy }}">{{ data.phoneFredy }}</a></h4>
            </div>
        </nav>
        <div id="landing-left">
            <div class="" id="landing-logo">
                <!-- *To-do* Replace with script font or logo -->
                <h1>Rosales</h1>
                <h3>{{ data.companyName }}</h3>
            </div>
            <div id="landing-description">
                <p>{{ data.landingDescription }}</p>
            </div>
        </div>
        <div>
            <a href="#contact-us">
                <div class="contact-button" id="landing-button">
                    <h4>{{ data.contact }}</h4>
                </div>
            </a>
        </div>
    </section>



    <footer>
        <div >

        </div>
    </footer>

</body>
</html>